<!DOCTYPE html>
<html>
<head>

  <link rel="stylesheet"
    href="http://fonts.googleapis.com/css?family=Lato:100,300,400">

  <title>Shopagator</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/styles/app.css">
</head>
<body>

  <div id="content"><svg class="chart"></svg></div>

  <script src="/lib/jquery/dist/jquery.min.js"></script>
  <script src="/lib/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="/lib/d3/d3.min.js"></script>

  <script src="/js/common.js"></script>
  <script src="/js/index.js"></script>
  <script src="d3_reviews.js"></script>
</body>
</html>
