body {
  font: 300 16px/22px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* ================ LOGO AREA ============= */

.logo-container {
  color: #F6E8B1;
  text-align: center;
  background: #89725B;
  padding-top: 50px;
  padding-bottom: 25px;
}

.logo-title {
  font-size: 65px;
  font-weight: 100;
}

.logo-tagline {
  font-size: 25px;
  font-weight: 100;
}

/* ========== HOME PAGE =============== */

.home-page {
  text-align: center;
  margin-top: 30px;
}

.query-form-title {
  text-align: center;
  font-weight: 200;
}

.logo-image {
  height: 70px;
  margin-right: 15px;
  margin-top: -8px;
}

.home-page input {
  width: 280px;
  margin: 0 auto;
}

button {
  margin-top: 7px;
}

/* ============== HOME PAGE RESULTS DISPLAY ============= */

.related-results-display {
  float: left;
  width: 33.3333333%;
}


/* ========== D3 =============== */

.chart text {
  fill: white;
  font: 10px sans-serif;
  text-anchor: middle;
}

.chart {
  border: 1px solid gray;
}

.legend text {
  fill: gray;
  font: 16px sans-serif;
  text-anchor: middle;
}

.storeLegend text {
  fill: white;
  font: 14px sans-serif;
  text-anchor: start;
}