body {
  font: 300 16px/22px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* ================ CLEARFIX ============= */
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
 
.clearfix:after {
  clear: both;
}
 
.clearfix {
  zoom: 1; /* ie 6/7 */
}

/* ================ LOGO AREA ============= */

.logo-container {
  color: #F6E8B1;
  text-align: center;
  background: #89725B;
  padding-top: 50px;
  padding-bottom: 25px;
}

.logo-title {
  font-size: 65px;
  font-weight: 100;
}

.logo-tagline {
  font-size: 25px;
  font-weight: 100;
}

/* ========== HOME PAGE =============== */

.home-page {
  text-align: center;
  margin-top: 30px;
}

.query-form-container img {
  display: none;
  margin-top: 20px;
}

.query-form-title {
  text-align: center;
  font-weight: 200;
}

.logo-image {
  height: 70px;
  margin-right: 15px;
  margin-top: -8px;
}

.home-page input {
  width: 280px;
  margin: 0 auto;
}

.query-form button {
  margin-top: 7px;
}

/* ============== HOME PAGE RESULTS DISPLAY ============= */

/* MAJOR CONTAINERS */

.related-results-display-container {
  display: none;
  margin-top: 47px;
}

.reviews-display-container {
  display: none;
  margin-top: 10px;
}

/* RELATED RESULTS CONTAINER */

.related-results-display {
  float: left;
  width: 50%;
}

.individual-display {
  padding: 8px;
  margin: 12px 9px;
  border: 1px solid #8E8E8E;
  border-radius: 7px;
  cursor: pointer;
}

.individual-display:hover {
  background: #F8F8F8;
}

/* REVIEWS CONTAINER */

/* REVIEWS CONTAINER - REVIEWS SECTION */
.reviews-display-section {
  display: inline-block;
  font-size: 14px;
  width: 80%;
}

.reviews-display-container button {
  font-size: 10px;
  padding: 2px 4px;
}

.reviews-display {
  padding-left: 8px;
  padding-right: 8px;
  margin-left: 6px;
  margin-right: 6px;
  float: left;
  width: 45%;
}

.reviews-display img {
  float: left;
  margin-right: 20px;
}

.walmart-reviews-display {
  padding-left: 8px;
  padding-right: 8px;
  margin-left: 6px;
  margin-right: 6px;
}

.walmart-reviews-display img {
  float: left;
  margin-right: 20px;
}

.bestbuy-reviews-display {
  padding: 8px;
  margin: 9px 6px;
}

.bestbuy-reviews-display img {
  float: left;
  margin-right: 20px;
}

.individual-review-display {
  padding: 5px;
  margin: 5px;
  border: 1px solid #8E8E8E;
  border-radius: 7px;
}

.upvotes {
  color: green;
}

.downvotes {
  color: red;
}

/* REVIEWS CONTAINER - CHOOSE ANOTHER PRODUCT SECTIOn */
.product-name-review {
  float: left;
  margin-top: 20px;
}

.choose-another-product-section {
  float: right;
  text-align: left;
  margin-left: 6px;
  width: 19%;
}

.choose-another-product-section h5,h6 {
  text-align: center;
}

.choose-another-product-individual-display {
  font-size: 11px;
  line-height: 12px;
  min-height: 60px;
  margin-top: 4px;
  padding: 6px;
  border: 1px solid #8E8E8E;
  border-radius: 3px;
  cursor: pointer;
}

.choose-another-product-individual-display:hover {
  background: #F8F8F8;
}

.choose-another-product-individual-display img {
  float: left;
  height: 50px;
  margin-top: 2px;
}

/* ============== DASHBOARD DISPLAY ============= */

.dashboard-option {
  width: 250px;
  padding: 8px;
  margin: 12px 9px;
  border: 1px solid #8E8E8E;
  border-radius: 7px;
  float: left;
}

.password-change-field {
  margin-bottom: 5px;
}
.contact-change {
  margin-bottom: 5px;
}

a.unfollow:link, a.unfollow:visited {
  font-size: 12px;
  background-color: #952C2A;
  color: white;
  margin-left: 5px;
  border: 0px;
  border-radius: 5px;
  padding: 4px;
}

a.unfollow:hover, a.unfollow:active {
  color: white;
  background-color: #D93F3C;
  text-decoration: none;
}

a.follow:link, a.follow:visited {
  font-size: 12px;
  background-color: #406995;
  color: white;
  margin-left: 5px;
  border: 0px;
  border-radius: 5px;
  padding: 4px;
}
a.follow:hover, a.follow:active {
  color: white;
  background-color: #5186BE;
  text-decoration: none;
}

/* ========== D3 =============== */

.chart {
}

.chart text {
  fill: white;
  font: 10px sans-serif;
  text-anchor: middle;
}

.legend text {
  fill: gray;
  font: 16px sans-serif;
  text-anchor: middle;
}

.productLegend text {
  fill: gray;
  font: 14px sans-serif;
  text-anchor: start;
}

.d3-container {
  display: none;
  height: 225px;
  width: 500px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  border: 1px solid #8E8E8E;
  border-radius: 10px;
}

.d3-price-container {
  display: none;
  position: relative;
  width: 500px;
  margin: 0 auto;
  margin-top: 15px;
  border: 1px solid #8E8E8E;
  border-radius: 10px;
}

.d3-price-chart-query {
  background: #F8F8F8;
  margin: 0;
  border-radius: 10px 10px 0 0 ;
}

.hoverbox {
  border: 2px solid rgb(190,190,190);
  border-radius: 10px;
  background: rgb(255,255,255);
  color: #333;
  display: block;
  font: 14px sans-serif;
  left: 0px;
  padding: 10px;
  position: absolute;
  text-align: left;
  top: 0px;
  z-index: 10;
  opacity: 0;
  box-sizing: border-box;
}

.hoverbox .username {
  color: #406995;
  font: 14px sans-serif;
  text-anchor: start;
  font-weight: bold;
}

.hoverbox .reviewTitle {
  color: #888;
  font: 14px sans-serif;
  text-anchor: start;
  margin-top: 5px;
}

.hoverbox .reviewText {
  color: black;
  font: 12px sans-serif;
  text-anchor: start;
  margin-top: 5px;
  font-style: italic;
}